:root
{
    --pink: #ff63d0;
    --black: #0f0c2ce1;
    --box-shadow: 0 .5rem 1.5rem rgb(243, 99, 207);
    --light-color: #666;
    --dark-pink: rgb(248, 9, 169);
    --deep-pink: rgb(255, 32, 207);
    --outline: .1rem solid rgba(0, 0; 0.1);
    --border: 2rem solid rgba(0, 0, 0.1);
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html
{
    font-size: 62.5%;
}

body {
    background: #eee;
    overflow: hidden;
}

/* css code for banner*/
section
{
    padding: 2rem 9%;

}

.heading
{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 7rem;
    color: var(--white);
    font-family: 'Audiowide', cursive;
}

.heading span
{
    background: transparent;
    color: var(--deep-pink);
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

/* css code for header*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    border: 0px solid;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 13%;
    background: var(--white);
    box-shadow: var(--box-shadow);
}

header .logo 
{
   font-size: 8rem; 
   font-weight: 800;
   font-family: 'Audiowide', sans-serif;
   top: 4%;
   left: 50%;
   position: absolute;
   padding-top: 1rem;
   padding-bottom: 1.8rem;
   color: var(--pink);
}

header .logo img
{
   color: var(--pink);
   height: 28px;
   width: 28px;
   object-fit: contain;
}

 .navbar .nav-links .links
{
   font-size: 1.76rem; 
   margin: auto;
   color: var(--white);
   padding: 0 1.5rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: var(--dark-pink);
   list-style: none;
}

.navbar .links li a
{
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    margin: .6rem;
    text-decoration: none;
    white-space: nowrap;
    height: 100%;
}

.navbar li a:hover
{
    color: var(--deep-pink);
    text-decoration: underline;
    background: transparent;
}

.header .navbar .links li
{
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 14px;
}

.header .navbar .links li .arrow
{
    background: transparent;
    height: 50%;
    line-height: 70px;
    width: 22px;
    text-align: center;
    color: var(--dark-pink);
    transition: all .2s ease;
}

.header .navbar .links li:hover .catego-arrow
{
    transform: rotate(180deg);
}

.navbar .nav-links .links .sub-memu
{
    position: absolute;
    top: 50px;
    left: 0;
    background: var(--dark-pink);
    line-height: 40px;
    border-radius: 0 0 4px 4px;
    box-shadow: var(--box-shadow);
    display: none;
}

.navbar .nav-links .links .sub-memu li
{
    padding: 0 22px;
    border-bottom: 1px solid var(--deep-pink);
}

.navbar .nav-links .links .sub-memu li a
{
    color: var(--white);
   font-size: 15px;
   font: 500;
}

.navbar .nav-links .links li:hover .catego-sub-menu
{
    display: block;
}

.header .icons div
{
    border: 1px solid;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: var(--white);
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
    cursor: pointer;
}

.header .icons div:hover
{
    background: var(--pink);
    color: var(--white);
}

#menu-btn
{
    display: none;
}

.header .navbar.active
{
    right: 2rem;
    transition: .4s linear;
}

.header .search-form
{
    position: absolute;
    border: 0px solid;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: 5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active
{
    right: 2rem;
    transition: .4s linear;
}

.header .search-form input
{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form label
{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}

.header .search-form label:hover
{
    color: var(--deep-pink);
}

.header .login-form
{
    border: 0px solid;
    position: absolute;
    top: 110%;
    right: -110%;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 1rem;
    background: var(--pink);
    text-align: center;
    width: 35rem;

}

.header .login-form.active
{
    right: 2rem;
    transition: .4s linear;
}

.header .login-form h3
{
    font-size: 2.5rem;
    color: var(--pink);
    text-transform: uppercase;
}

.header .login-form .box
{
    border: 1px solid;
    margin: .7rem;
    background: var(--dark-pink);
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.header .login-form p
{
    font-size: 1.4rem;
    padding: .4rem 0;
    color: var(--white);
}

.header .login-form p a
{
    color: var(--pink);
    text-decoration: underline;
}
/* css code for header*/


/* css code for home*/
.home
{
    display: flex;
    justify-content: center;
    border: 0px solid;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 25rem;
    animation: animate 16s ease-in-out infinite;
}

@keyframes animate
{
    0%
    {
        background-image: url(/image/eye\ shadow.jpg);
    }

    20%
    {
        background-image: url(/image/gold.jpg);
    }

    40% 
    {
        background-image: url(/image/hair.jpg);
    }

    60%
    {
        background-image: url(/image/shadow2.jpg);
    }

    80%
    {
        background-image: url(/image/shadow\ 1.jpg);
    }

    100%
    {
        background-image: url(/image/lipstick.jpg);
    }
}

.home .content
{
    text-align: center;
    border: 0px solid;
    width: 70rem;
}

.home .content h1
{
    color: #383D42;
    font-size: 4rem;
    font-family: 'Audiowide', cursive;

}

.home .content h1 span
{
    color: #fc84b4;
    font-family: 'Audiowide', cursive;
    font-size: 4.2rem; 
}

.home .btn
{
    border: 1px solid rgba(5, 5, 65, 0.925);
    margin-top: .8rem;
    display: inline-block;
    padding: .8rem 1rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    color: var(--white);
    cursor: pointer;
    background: var(--pink);
}

.btn:hover
{
    background: var(--dark-pink);
    color: #fff;
}

.home .share
{
    padding-bottom: 4rem;
    padding: 3.5rem;
}

.home .share a
{
    height: 4.2rem;
    width: 4rem;
    border: 0px solid;
    line-height: 4rem;
    border-radius: .6rem;
    font-size: 2.3rem;
    color: aliceblue;
    margin-right: .2rem;
    background: var(--pink);
    text-align: center;
    
}

.home .share a:hover
{
    background: #eee;
    color: var(--pink);
}
/* css code for home*/


/* css code for about*/
.about
{
background: var(--white);
width: 100%;
text-align: center;
}

.about p
{
    font-size: 1.5rem;
    line-height: 1.3;
    color: var(--white);
    padding-bottom: 3rem;
    text-transform: none;
    text-align: center;
}

.about .box-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    width: 100%;
    padding: 10px 10px 10px 15px;
    margin: 20px;
}

.about .box2 h3
{
    font-size: 2rem;
    color: #383d42;
    font-family: 'Raleway', sans-serif;
    margin-top: 50px;
}

.about .box1 h1
{
    font-weight: 800;
    font-size: 70px;
    color: #222a3e;
    font-family: 'Audiowide', cursive;
    text-transform: uppercase;
    margin-left: 12px;
    text-align: left;
}

.box1 h1 span
{
    font-family: 'Herr Von Muellerhoff', cursive;
    font-weight: 800;
    font-size: 70px;
    color: #fc84b4;
    margin-bottom: 2px;
}


.aboutp
{
    text-transform: none;
    text-align: center;
}

.aboutp .pride-about
{
    padding: 30px 15px 0px;
    color: #3B3042;
    font: 16px 'Raleway', sans-serif;
}

 .aboutp .pride-about .icon-box
{
    color: #fc84b4;
    padding: 38px;
    font: 30px 'Raleway', sans-serif;
    
}

.aboutp .icon-text p
{
    
    line-height: 1.7;
    color: rgba(5, 5, 65, 0.925);
    padding: .6rem ;
    text-transform: none;
    text-align: center;
}



/* css code for about*/



/* css code for Categories*/

.Categories
{
    background: linear-gradient(45deg,var(--pink),var(--light-color),var(--black), var(--dark-pink),var(--white));
    height: 100%;
    width: 100%;
    background-size: 300% 300%;
    animation: color 10s ease-in-out infinite;
}

@keyframes color
{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.Categories .sub-categories
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    grid-gap: 40px;
    align-items: center;
    justify-content: center;
    width: 90%;
}

h3
{
    font-size: 2.5rem;
    color: var(--pink);
    text-transform: capitalize;
    font-family: 'Audiowide', cursive;
    background: transparent;
    padding-bottom: 4rem;
    align-items: center;
    justify-content: center;
}

p
{
    font-size: 1.5rem;
    line-height: 1.3;
    color: var(--white);
    padding-bottom: 3rem;
    text-transform: none;
    text-align: center;
}


/* css code for Categories*/



/* media queries */
@media (max-width: 991px)
{
    html
    {
        font-size: 75.5%;
    }

    .header
    {
        padding: 3rem;
    }

    section
    {
        padding: 2.9rem;
    }

    .about .box-container
    {
        grid-template-columns: repeat(1, 1fr);
        font-size: 2.6rem;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 768px)
{
    #menu-btn
    {
        display: inline-block;
    }

    .header .search-form
    {
        width: 90%;
    }

    .header .navbar
    {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 50rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: var(--white);
        color: var(--white);
    }

    .header .navbar a
    {
        font-size: 1.3rem;
        margin: .2rem .1rem;
        display: block;
        padding-left: 1rem;
    }
     
}

@media (max-width: 450px)
{
    html
    {
        font-size: 56.6%;
    }

    .heading
    {
        font-size: 6rem;
    }  
    .footer
    {
        text-align: center;
    }   
}